body{
    margin: 0;
    padding: 0;
    background-color: goldenrod;
}
.list {
    padding: 5px;
    margin-top: 10px;

}
.list h1{
    font-size: 30px;
    font-family: algerian;
    text-align: center;
    text-shadow: 1px 2px white;
}

nseknowledgehub.edcast.com/log.in